#suggestions
{
	width: 100%;
	border:1px solid;
	height: 150px;
}
textarea
{
	width:100%;
	height:200px;
	margin:10px auto;
}
.keyboard
{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	border: 1px solid;
	margin-top: 10px;
}
.keyboard td
{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	border-radius: 10px;
	text-align:center;
	padding:7px;
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
	-webkit-box-shadow: inset 2px 4px 4px 4px rgba(237, 232, 239, 0.95);
	-moz-box-shadow:    inset 2px 4px 4px 4px rgba(237, 232, 239, 0.95);
	box-shadow:         inset 2px 4px 4px 4px rgba(237, 232, 239, 0.95);
}
.fade
{
	background: rgb(237,232,239);
	box-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}